/*css file */

html {
	
	 background-color: #b17044;
	 
}
h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1em;
	color: white;
	text-align: center;
}
body {

	background-color: #b17044;
	width: 100%;
	display: flex;
	justify-content: center;
}

#main-content {
	max-width: 1200px;
}

#main-image img {
	
	width: 80%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

p {
	color: white;
}
	
h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1em;
	color: white;
	text-align: center;
}

h2 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1em;
	color: white;
	text-align: center;
}

h3 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1em;
	color:white;
	text-align: center;
}

h4 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1em;
	color: white;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

h5 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1em;
	color: white;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

h6 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.1em;
	color: white;
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

.Brigitte-title {
	text-align: center;
	text-decoration: underline;
	font-size: 50px;
}

.Basic-Info p{
	text-align: center;
	font-size: 20px;
}

.Basic-Info h2 {
	text-align: center;
	font-size: 50px;
	text-decoration: underline;
}

hr {
	color: white;
}

ul {
  color: white;
}

#p59 {
	font-size: 32px;
}

#Brigitte-Abilities {
	
	display: flex;
	flex-wrap: wrap;
}

#Brigitte-Abilities div{

	flex: 1 0 0%;
}

#Brigitte-Abilities img {
	width: 100%;
	height:auto;
	object-fit: contain;
}

#Brigitte-Abilities div p{
	text-align: center;
	padding: 8px;
}

#pop-up {
	display: block;
	position: absolute;
	padding: 20px;
	background-color: yellow;
	left: 50%;
	top: 50%;
	visibility: visible;
}

#showButton {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
	#Brigitte-Abilities {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	}
	#Brigitte-Abilities div{

	flex: 1 0 50%;
	
	}
}

@media only screen and (max-width: 500px) {
	#Brigitte-Abilities {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	}
	#Brigitte-Abilities div{

	flex: 1 0 100%;
	
	}
}

